@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.terms {
    margin: 50px 20px 20px;
    font-family: 'Caveat', cursive;
    font-size: 18px;
    
  .intro {
      margin-bottom: 30px; /* adjust the value to your liking */
  }

    h2 {
      color: #333;
      border-bottom: 2px solid #333; /* Add a line under the title */
      padding-bottom: 10px; /* Add some space between the title and the line */
      margin-bottom: 30px; /* Increase the space between the title and the text */
    }
  
    ul {
      list-style: none;
      padding-left: 20px;

      li {
        margin-bottom: 10px;
      }
    }

    .disclaimer {
      font-size: 0.9em;
      color: #666;
    }
  }
